*{
    margin:0;
}

.container-pedidos{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.all-pedido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    background-color: #FFFFFFCC;
    color: var(--primary);
    border-radius: 5px;
    padding: 15px;

}
.nome{
    font-size: 16px;
    font-weight: 700;
}

.informacoes{
    display: flex;
    gap:15px;
    font-size: 12px;
    font-weight: 700;
}

.informacoes span{
    font-weight: 400;
}

.botoes-pedidos{
    display: flex;
    flex-direction: row;
    gap:15px;
    margin: 0;
}

button{
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;

    transition: transform 600ms;
}

button:hover{
    transform: scale(1.06);
}

@media (max-width: 834px){
    .all-pedido{
        width: auto;
    }

    .informacoes{
        flex-direction: column;
        gap: 5px;
    }

}