.infor{
    height: 120px;
    background: linear-gradient(to bottom, var(--header) 50%, var(--body) 50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.branco{
    padding-top: 10px;
    font-size: 36px;
    color: var(--primary);
}

.marrom{
    padding-top: 10px;
    font-size: 36px;
}

.pessoasfila{
    width: 20%;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;

    transition: transform 600ms;
    color: var(--primary);
    font-size: 16px;
}

.pessoasfila:hover{
    transform: scale(1.06);
}

.pessoasfila .cima {
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    align-items: center;
}

.vendidos{
    width: 20%;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;

    transition: transform 600ms;
    color: var(--primary);
    font-size: 16px;
}

.vendidos:hover{
    transform: scale(1.06);
}

.vendidos .cima {
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    align-items: center;
}

.entrada{
    width: 20%;
    background-color: var(--primary);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;

    transition: transform 600ms;
    color: #fff;
    font-size: 16px;
}

.entrada:hover{
    transform: scale(1.06);
}

.entrada .cima {
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 834px){
    .infor{
        background: linear-gradient(to bottom, var(--header) 15%, var(--body) 15%, var(--body) 75%, var(--body) 75%);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .pessoasfila{
        width: 70%;
    }

    .vendidos{
        width: 70%;
    }

    .entrada{
        width: 70%;
    }

}